%header.mod-header
  .layout-wrap
    %h1= link_to 'Turing School of Software & Design', 'http://turing.io'

    %nav
      %ul
        %li{class: nav_active('difference')}= link_to 'The Difference', 'http://turing.io/difference'
        %li{class: nav_active('team')}= link_to 'Team', 'http://turing.io/team'
        %li{class: nav_active('program')}= link_to 'Program', 'http://turing.io/program'
        %li{class: nav_active('admissions')}= link_to 'Admissions', 'http://turing.io/admissions'
        %li{class: nav_active('tuition')}= link_to 'Tuition', 'http://turing.io/tuition'
        %li{class: nav_active('contact')}= link_to 'Blog', '/'
        %li{class: nav_active('contact')}= link_to 'Contact', 'http://turing.io/contact'
