!!! 5

%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{href: '/images/turing.ico', rel: 'icon', type: 'image/ico'}
    = partial 'layouts/title'
    = stylesheet_link_tag 'application'
    = javascript_include_tag '//use.typekit.net/xxm2mvw.js'
    = javascript_include_tag '//s7.addthis.com/js/300/addthis_widget.js#pubid=novohispano'
    = javascript_include_tag 'application'

  %body{class: page_classes}
    = partial 'layouts/nav'
    = yield
    = partial 'layouts/footer'
