= wrap_layout :layout do
  .mod-post
    .layout-inner-wrap
      .col-article
        %h4
          = format_date(current_page.date)
        %h1
          = current_page.title
        %h3
          = current_page.data.author
        %p
          = current_page.body
        %h5
          = link_to 'Back', '/'
      .col-sidebar
        = partial 'layouts/sidebar'
