---
title: All Outlines
layout: content
---
- require "presenters/outlines_by_cohort"
.outline_list
  - OutlinesByCohort.call(all_outlines, OutlinesByCohort::COHORTS).each do |cohort_name, weeks_to_outlines|
    .month
      .monthname
        = link_to cohort_name, "/all##{cohort_name}", id: cohort_name

      - weeks_to_outlines.each.with_index(1) do |(week_start, outlines), week_number|
        - week_id = "week-#{yyyy_mm_dd_for week_start}"
        .week{id: week_id}
          .weeknumber
            = link_to "Week&nbsp;#{week_number}", "##{week_id}"
          %ul.weekdays
            - outlines.each do |outline|
              - date = outline_date outline.path
              %li= link_to date.strftime('%d %b'), outline.path, id: yyyy_mm_dd_for(date), target: "_blank"

%aside
  %h3 Want to improve this page?
  %ul
    - gh_sass      = "https://github.com/turingschool/today/blob/ffba3c6ca2b959decc9f346e1d63238f24c7120b/source/stylesheets/modules/_outline_list.css.sass"
    - gh_haml      = "https://github.com/turingschool/today/blob/ffba3c6ca2b959decc9f346e1d63238f24c7120b/source/all.html.haml"
    - gh_presenter = "https://github.com/turingschool/today/blob/ffba3c6ca2b959decc9f346e1d63238f24c7120b/source/presenters/outlines_by_cohort.rb"
    - gh_helpers   = "https://github.com/turingschool/today/tree/ffba3c6ca2b959decc9f346e1d63238f24c7120b/source/helpers"
    - gh_spec      = "https://github.com/turingschool/today/blob/ffba3c6ca2b959decc9f346e1d63238f24c7120b/spec/outline_list_helpers_spec.rb"
    %li= "Click #{link_to 'here', gh_sass, target: "_blank"} for the code that generates the css"
    %li= "Click #{link_to 'here', gh_haml, target: "_blank"} for the code that generates the html"
    %li= "Click #{link_to 'here', gh_presenter, target: "_blank"} for the Ruby class that organizes the data"
    %li= "Click #{link_to 'here', gh_helpers, target: "_blank"} for the helpers"
    %li= "Don't break #{link_to 'these', gh_spec, target: "_blank"} tests (you can change them if you change the functionality)."
      
