.mod-blog
.mod-post
  .layout-inner-wrap
    .col-article
      - blog.articles.each do |article|
        %h4
          = format_date(article.date)
        %h1
          = article.title
        %h3
          = article.data.author
        %p
          = create_summary(article.body)
        %h5
          = link_to 'Read More', article.url
    .col-sidebar
      = partial 'layouts/sidebar'
